// ヘッダーのメニューの下線
// TODO: 色や値を他のファイルに書き出す

// ホバー時に下線を引く
.hover-with-ul {
  position: relative;
  /* 親要素に相対位置を設定 */

  &::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 5%;
    width: 90%;
    height: 3px;
    background: #00adb5;
    display: block;
    transform-origin: center;
    transform: scaleX(0);
    /* 初期状態では非表示 */
    transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  }

  &:hover::before {
    transform-origin: center;
    transform: scaleX(1);
  }
}
