@use "./_variables" as v;
@use "sass:map";

section {
  &.sidebar {
    > header {
      font-size: 0.9rem;
      letter-spacing: 4px;
    }

    > header::after {
      margin: 0.5rem 0px;
      width: 100px;
      display: block;
      height: map.get(v.$line-heights, sm);
      background-color: map.get(v.$colors, gray, extra-light);
      content: "";
    }
  }
}
