.toc {
  display: flex;
  text-align: center;

  nav > ul {
    display: inline-block;
    font-size: 0.9rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    word-break: break-all;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }

  nav > ul::before {
    content: "目次";
    font-size: 120%;
    font-weight: 600;
    display: block;
    margin: 0.4rem 0;
  }

  ul {
    > li {
      font-weight: 520;
      text-align: left;
      margin: 0.1rem 0rem 0.1rem 0rem;
    }
  }

  ul {
    ul {
      > li {
        font-weight: 420;
      }
    }
  }
}
