<div class="card border-0">
  <a href="{{ .RelPermalink }}">
    <div class="text-body px-4">
      <p class="fs-6 pt-1 ">{{ .Title }}</p>
      <ul class="facts p-0 my-2 mx-0">
        <li class="d-inline me-3">
          <i class="fas fa-calendar text-secondary me-1" aria-hidden="true"></i>
          <time datetime="{{ .Date.Format " 2006-01-02T15:04:05JST" }}"
            >{{ .Date.Format (
              .Site.Params.dateformat |
              default "2006/01/02")
            }}</time
          >
        </li>
        {{ with .Section }}
          <li class="d-inline">
            <i
              class="fas fa-bookmark text-secondary me-1"
              aria-hidden="true"
            ></i
            >{{ humanize . }}
          </li>
        {{ end }}
      </ul>
    </div>
  </a>
</div>
