{{ define "title" }}{{ .Title }} -{{ end }}

{{ define "main" }}
  {{ .Render "summary" }}

  {{ if .Page.Params.PostsPage | default true }}
    <div class="row">
      <div class="col-md-6">
        <header>Next Article</header>
        {{ with .NextInSection }}
          {{ .Render "article-card-sm" }}
        {{ end }}
      </div>
      <div class="col-md-6">
        <header>Previous Article</header>
        {{ with .PrevInSection }}
          {{ .Render "article-card-sm" }}
        {{ end }}
      </div>
    </div>
  {{ end }}

{{ end }}
