<div
  class="btn-group py-2 px-2"
  role="group"
  aria-label="Theme toggle button group"
>
  <input
    type="radio"
    class="btn-check"
    name="themeToggle"
    id="themeToggleSun"
    autocomplete="off"
  />
  <label class="btn btn-outline-primary" for="themeToggleSun"
    ><i class="fa-regular fa-sun"></i
  ></label>

  <input
    type="radio"
    class="btn-check"
    name="themeToggle"
    id="themeToggleMoon"
    autocomplete="off"
  />
  <label class="btn btn-outline-primary" for="themeToggleMoon"
    ><i class="fas fa-moon"></i
  ></label>
</div>
