<div class="container-xl">
  <nav class="navbar me-auto navbar-expand-lg">
    <div class="container-fluid">
      <a
        class="navbar-brand d-flex align-items-center"
        href="{{ .Site.BaseURL }}"
      >
        {{ with .Site.Params.logoImageUrl }}
          <img
            src="{{ . | absURL }}"
            title="t-pot"
            height="30"
            width="30"
            class="img-fluid rounded "
            alt="blog-logo"
            class="d-inline"
          />
        {{ end }}
        <p
          class="d-inline fs-2 logo-font m-0 ms-1"
          style="font-family: {{ .Site.Params.logoFontFamily }};"
        >
          {{ .Site.Title }}
        </p>
      </a>
      <div class="align-self-center align-items-center">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav d-flex align-items-center">
            {{ with .Site.Menus.main }}
              {{ range . }}
                <li class="nav-item">
                  {{ if $.IsMenuCurrent .Menu . }}
                    <a
                      class="nav-link hover-with-ul"
                      aria-current="page"
                      href="{{ .PageRef }}"
                    >
                      <span class="fs-6 m-0 fw-semibold">{{ .Name }}</span>
                    </a>
                  {{ else }}
                    <a class="nav-link hover-with-ul" href="{{ .PageRef }}">
                      <span class="fs-6 m-0 fw-semibold">
                        {{ .Name }}
                      </span>
                    </a>
                  {{ end }}
                </li>
              {{ end }}
            {{ end }}
            {{ if .Site.Params.enableAlgolia }}
              <li class="nav-item">
                {{ partial "search-modal.html" }}
              </li>
            {{ end }}
            <li class="nav-item">
              {{ partial "color-toggle-button.html" }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
